<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href='<%= Routes.static_path(@conn, "/images/newslettex-icon.png") %>' />
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/app.css") %>' />
    <title><%= page_title(assigns) %></title>
  </head>
  <body>
    <% logged_in = true %>
    <%= render(NewslettexWeb.Shared.NavbarView, "navbar.html", conn: @conn, logged_in: logged_in) %>
    <div class="section">
      <div class="columns">
        <%= render(NewslettexWeb.Shared.SidebarView, "sidebar.html", conn: @conn, logged_in: logged_in) %>
        <main class="column">
          <p class="alert alert-info" role="alert">
            <%= get_flash(@conn, :info) %>
          </p>
          <p class="alert alert-danger" role="alert">
            <%= get_flash(@conn, :error) %>
          </p>
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div>
  </body>
</html>
