<a class="navbar-item" href="https://github.com/silva96/newslettex">About</a>
<a class="navbar-item" href="https://github.com/silva96/newslettex/issues/new">Report an issue</a>
<hr class="navbar-divider" />
<a class="navbar-item" href="https://github.com/silva96/newslettex/issues/new">Contact</a>
