<h1>New Campaign contact event</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.campaign_contact_event_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.campaign_contact_event_path(@conn, :index) %></span>
