<h1>Show Contact</h1>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @contact.email %>
  </li>

  <li>
    <strong>Unsuscribed:</strong>
    <%= @contact.unsuscribed %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.contact_path(@conn, :edit, @contact) %></span>
<span><%= link "Back", to: Routes.contact_path(@conn, :index) %></span>
